$accent-hue-default: #607D8B;
$accent-hue-200: #B0BEC5;
$accent-hue-900: #263238;

$primary-hue-default: #EF6C00;
$primary-hue-300: #FF8A65;
$primary-hue-600: #FB8C00;

$primary-text-color: rgba(0, 0, 0, 0.87);
$primary-border-color: #e3e3e3;

$site-toolbar-bg-color: #FFFFFF;
$site-toolbar-button-text-color: #FFFFFF;
$form-bg-color: #FFFFFF;
$form-label-color: rgba(0, 0, 0, 0.38);

$sidebar-bg-color: $accent-hue-900;
$sidebar-bg-color-active: rgba(158, 158, 158, 0.2);
$sidebar-text-color: #FFFFFF;
$sidebar-border-color: #455A64;

$disabled-text-color:  #B1B1B1;
$breadcrumb-color: #B1B1B1;
$error-color: rgb(221, 44, 0);
$success-color: #259b24;
$warn-color: rgb(244, 67, 54);;

$message-container-bg-color: #efefef;
$message-container-border-color: #999999;
