@import "colors-and-fonts.scss";

/* OL Task list */
ol.task-list {
  font-size: 14px;
  font-weight: 600;

  li { margin-bottom: 16px; }
}

.credential-list {
  .button-panel {
    min-width: 141px;
  }
}

/* Numbered steps */
@mixin numbered-step($number) {
  background: #607D8B;
  color: rgba(255, 255, 255, 0.87);
  content: $number;
  display: inline-block;
  width: 24px;
  min-width: 24px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  margin-right: 8px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 14px;
}

.step-1{
  ng-md-icon { margin-top: -2px; }

  &:before {
    @include numbered-step("1");
  }
}

.step-2:before {
  @include numbered-step("2");
}

/* Accordion */
.vAccordion--default {
  margin-top: -24px;

  v-pane {

    > v-pane-header {
      margin-bottom: 8px;
      color: $accent-hue-900;

      &:focus {
        color: $accent-hue-900;
      }

      &:before, &:after {
        background-color: $accent-hue-900;
      }

      &:hover {
        color: $accent-hue-default;

        &:before, &:after {
          background-color: $accent-hue-default;
        }
      }
    }

    &.is-expanded {
      > v-pane-header {
        border-bottom-color: $accent-hue-default;
        color: $accent-hue-default;

        &:before, &:after {
          background-color: $accent-hue-default;
        }
      }
    }
  }

  v-pane-content { color: $primary-text-color; }
}

.credential-radio-group {
  ._md-label { margin-left: 0; width: 100%; }
}
