<md-content class="app-setup-content md-padding">
    <md-content layout="column" class="layout-padding">
      <div class="p-0">
        <div md-whiteframe="2">
          <md-toolbar class="md-menu-toolbar p-sm-left p-xs-right" layout="row" layout-align="center center">
            <span class="md-title">Application Load Balancer Settings</span>
            <span flex></span>
            <div layout="row">
              <!-- <div class="border-right">
                <a ui-sref="awsconfigs" class="md-button md-accent" layout="row" layout-align="center center">
                  <span>Manage Configs</span>
                  <ng-md-icon icon="launch" size="16" class="m-xs-left"></ng-md-icon>
                </a>
              </div> -->
              <div edit-mode-panel panel-disabled="!editModes.loadbalancer.enabled"
                edit-enabled="editModes.loadbalancer.on"
                toggle="toggleEditMode('loadbalancer')"
                save="saveApp('loadbalancer')">
              </div>
            </div>
          </md-toolbar>
        <md-divider></md-divider>
        <md-content class="p-xs-left-right form-container">
          
          <!-- <md-list data-ng-show="!editModes.loadbalancer.on">
            <md-list-item class="p-xs">
              <label flex="50" flex-gt-sm="25" class="md-text-light">Subnets</label>
              <span>{{ app.appSubnet || 'None selected' }}</span>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="p-xs">
              <label flex="50" flex-gt-sm="25" class="md-text-light">VPC</label>
              <span>{{ app.vpc || 'None selected' }}</span>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="p-xs">
              <label flex="50" flex-gt-sm="25" class="md-text-light">Instance Type</label>
              <span>{{ app.appInstanceType || 'None selected' }}</span>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="p-xs">
              <label flex="50" flex-gt-sm="25" class="md-text-light">Security Group</label>
              <span>{{ app.appSecurityGroup || 'None selected' }}</span>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="p-xs">
              <label flex="50" flex-gt-sm="25" class="md-text-light">Region</label>
              <span>{{ app.region || 'None selected' }}</span>
              <md-divider></md-divider>
            </md-list-item>
          </md-list> -->
          <div novalidate class="p-xs-left-right p-sm-top">
            <div data-ng-show="editModes.loadbalancer.on">
              <!-- <md-input-container class="md-block" flex-gt-xs="50" flex="100" data-ng-class="{ 'm-sm-right' : $mdMedia('gt-xs') }">
                <label for="appSecurityGroup">Security Group</label>
                <md-select id="appSecurityGroup" name="appSecurityGroup" data-ng-model="config.appSecurityGroup" class="m-0-bottom" md-no-asterisk required
                  data-ng-disabled="!config.vpc">
                  <md-option ng-repeat="sg in securityGroups | filter: { VpcId : config.vpc }" ng-value="sg.ID">
                    {{ sg.ID }} ({{ sg.Name }})
                  </md-option>
                </md-select>
                <div ng-messages="awsConfigForm.appSecurityGroup.$error">
                  <div ng-message="required">Please select a Security Group</div>
                </div>
              </md-input-container> -->
              <md-input-container class="md-block" flex-gt-xs="50" flex="100">
                <label for="albSubnet">Subnet</label>
                <md-select id="albSubnet" name="albSubnet" data-ng-model="subnets" class="m-0-bottom" md-no-asterisk required
                  data-ng-disabled="!app.vpc" multiple>
                  <md-option ng-repeat="subnet in subnets | filter: { VpcId : app.vpc }" ng-value="subnet.ID">
                    {{ subnet.ID }} {{ subnet.IPRange }} - AZ: {{subnet.AvailabilityZone}}
                  </md-option>
                </md-select>
                <div ng-messages="appForm.albSubnet.$error">
                  <div ng-message="required">Please select a Subnet</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </md-content>
      </div>
    </div>
  </md-content>
</md-content>
