<md-button class="m-0-right"
  data-ng-class="{ 'md-icon-button' : $mdMedia('xs') || $mdMedia('sm'), 'md-primary' : app.statusInfo.name !== 'STARTED',
    'md-warn' : app.statusInfo.name === 'STARTED', 'md-outline' : raisedButton }"
  layout="row" layout-align="end center" data-ng-click="toggleAppStatus($event)"
  ng-disabled="app.statusInfo.disabled || app.processing || !app.userCloudProviderId || !app.awsConfigId" data-ng-cloak>
    <ng-md-icon icon="{{ app.statusInfo.actionIcon }}" data-ng-show="!app.processing" size="16"></ng-md-icon>
    <md-progress-circular data-ng-show="app.processing" md-mode="indeterminate" md-diameter="16"></md-progress-circular>
    <span data-ng-show="$mdMedia('gt-sm')" flex>
      {{ app.statusInfo.action }}
    </span>
</md-button>
