<div role="dialog" aria-label="Set AWS Launch Config" layout="column"
  layout-align="start stretch" class="credential-dialog">
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>AWS Accounts and Credentials</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
  </md-toolbar>
  <form name="appAWSConfigForm" id="appAWSConfigForm" novalidate class="p-sm-left-right p-md-top">
    <label data-ng-show="credentialList.length > 0" layout="row" layout-align="start center">
      <span class="m-xs-right">Please select an AWS Credential</span>
      <ng-md-icon icon="info" size="20" class="md-accent">
        <md-tooltip md-direction="right">
          AWS Credentials define the roles and permissions for your AWS account
        </md-tooltip>
      </ng-md-icon>
      <span flex></span>
    </label>
    <div data-ng-include="'views/app/forms/credential-form.html'" class="p-xs-top"></div>
    <div layout="row" class="p-xs-bottom">
      <div flex></div>
      <div class="text-align-right">
        <md-button class="md-warn icon-and-text-button" ng-click="cancel()" layout-align="center center">
          <ng-md-icon icon="cancel" size="16"></ng-md-icon>
          <span>Cancel</span>
        </md-button>
        <md-button class="md-primary icon-and-text-button" ng-click="save()" layout-align="center center">
          <ng-md-icon icon="save" size="16"></ng-md-icon>
          <span>Save</span>
        </md-button>
      </div>
    </div>
  </form>
</div>
