<div>

	<md-tabs class="md-primary" md-stretch-tabs="never" md-dynamic-height>

		<md-tab label="Basic">
			<md-content class="md-padding">
				<div layout="column" layout-padding flex-gt-sm="70" flex>
					<md-content class="message-container m-xs-bottom" layout="row" layout-padding
						layout-align="left center" data-ng-controller="MessageCtrl" data-ng-show="message.content">
						<div data-ng-include="'views/_partials/messages.html'"></div>
					</md-content>

					<div md-whiteframe="2" class="m-md-bottom">
						<md-toolbar class="md-menu-toolbar" layout="row" layout-align="space-around center"
							layout-padding>
							<span>{{ displayName }} basics</span>
							<span flex></span>
							<span class="md-caption">(required)</span>
						</md-toolbar>
						<md-divider></md-divider>
						<md-content class="md-padding form-container">
							<div data-ng-include="'views/app/forms/info-form.html'"></div>
						</md-content>
					</div>
					<div md-whiteframe="2" class="m-md-bottom">
						<md-toolbar class="md-menu-toolbar" layout="row" layout-align="space-around center"
							layout-padding>
							<span>AWS Settings</span>
							<span flex></span>
							<span class="md-caption">(required)</span>
						</md-toolbar>
						<md-divider></md-divider>
						<md-content class="md-padding form-container">
							<div data-ng-include="'views/app/forms/cloud-form.html'"></div>
						</md-content>
					</div>
					<div md-whiteframe="2" class="m-md-bottom">
						<md-toolbar class="md-menu-toolbar" layout="row" layout-align="space-around center"
							layout-padding>
							<span>Integrations</span>
							<span flex></span>
							<span class="md-caption">(optional)</span>
						</md-toolbar>
						<md-divider></md-divider>
						<md-content class="md-padding form-container">
							<div data-ng-include="'views/app/forms/integrations-form.html'"></div>
						</md-content>
					</div>




				</div>
			</md-content>
		</md-tab>
		<md-tab label="Autoscaling">

		</md-tab>
		<md-tab label="Containers">

		</md-tab>
		<md-tab label="Serverless">

		</md-tab>
	</md-tabs>

</div>
<div class="md-whiteframe-z2 add-app-summary-container p-0" data-ng-class="{ 'fixed' : $mdMedia('gt-sm')}">
	<form name="appForm" ng-submit="submit(appForm.$valid)" novalidate layout="column" class="p-0">
		<md-toolbar class="md-menu-toolbar" layout-padding layout-align="center stretch" layout="row">
			<span hide-gt-sm flex></span>
			<md-button type="submit" class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex>
				Create my {{ displayName }}
			</md-button>
		</md-toolbar>
		<md-divider></md-divider>
		<div layout-padding layout="column" class="p-0-top-bottom">
			<md-list class="condensed">
				<md-list-item class="md-2-line" layout="column">
					<label class="md-text-light">{{ displayName }} Name</label>
					<span>{{ app.name || 'not specified' }}</span>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" layout="column">
					<label class="md-text-light">{{ displayName }} Stack</label>
					<span data-ng-bind-html="app.appProviderSummary || 'not specified'"></span>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" layout="column">
					<label class="md-text-light">AWS Account ID</label>
					<span layout="row" data-ng-bind="getAWSAccountID()">
						<span>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" layout="column">
					<label class="md-text-light">Disk Size</label>
					<span layout="row">
						{{ app.configData.cloud.diskSize || 'not specified' }}
						<span data-ng-show="app.configData.cloud.diskSize"> GB</span>
						<span>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item class="md-2-line" layout="column">
					<label class="md-text-light">Integrations</label>
					<span layout="row">
						Sumo logic

						<span>
				</md-list-item>

			</md-list>
		</div>

	</form>
</div>