<div>
  <form name="appForm" ng-submit="submit(appForm)" novalidate layout="column" class="p-0">
    <md-tabs class="md-primary" md-stretch-tabs="never" md-dynamic-height md-selected="selectedTab">
      <md-tab label="Choose Platform">
        <md-content class="md-padding">
          <div layout="column" layout-padding flex-gt-sm="70" flex>
            <div md-whiteframe="2" class="m-md-bottom">


              <md-toolbar class="md-menu-toolbar" layout="row" layout-align="space-around center" layout-padding>
                <span>Platform selection</span>
                <span flex></span>
                <span class="md-caption">(available soon)</span>
              </md-toolbar>
              <md-divider></md-divider>
              <md-content class="md-padding form-container">
                <div class="radio-container">
                  <md-input-container class="layout-fill" flex-gt-xs="80" flex
                    data-ng-class="{ 'md-input-invalid' : appForm.appPlatform.$error.required && formSubmitted }">
                    <label>Platform</label>
                    <div class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                      <div class="md-input-message-animation">Please choose how you want to run
                        your app.
                      </div>
                    </div>

                    <md-radio-group data-ng-model="app.platformId" layout="column" name="appPlatform"
                      ng-required="false" class="radio-button-list" data-ng-disabled="true">
                      <md-radio-button data-ng-disabled="!pl.enabled" data-ng-repeat="pl in platformList"
                        data-ng-value="{{pl.id}}">
                        <div class="text-container" layout-align="center start" layout="column">
                          <span class="md-title">{{ pl.name }}</span>
                          <span class="md-body-2">{{ pl.description }}</span>
                        </div>
                      </md-radio-button>
                    </md-radio-group>
                  </md-input-container>
                </div>

                <md-button class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex ng-click="stepper(1);">
                  Configure
                </md-button>
              </md-content>

            </div>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="App Environment">
        <div data-ng-include="'views/app/new/app-environment.html'"></div>
      </md-tab>
      <!-- <md-tab label="Integrations">
	<md-content class="md-padding">
		<div layout="column" layout-padding flex-gt-sm="70" flex>
				<div md-whiteframe="2" class="m-md-bottom">
					<md-toolbar class="md-menu-toolbar" layout="row" layout-align="space-around center" layout-padding>
						<span>Integrations</span>
						<span flex></span>
						<span class="md-caption">(optional)</span>
					</md-toolbar>
					<md-divider></md-divider>
					<md-content class="md-padding form-container">
						<div data-ng-include="'views/app/forms/integrations-form.html'"></div>
					</md-content>
					<md-button class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex ng-click="stepper(1);">
						Previous
					</md-button>
					<md-button class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex ng-click="stepper(3);">
						Next
					</md-button>
					<md-button type="submit" class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex>
						Finish
					</md-button>
				</div>
		</div>
</md-tab> -->
      <md-tab label="Scaling">
        <div data-ng-include="'views/app/new/app-scaling.html'"></div>
      </md-tab>
      <!-- <md-tab label="Data">
	<md-content class="md-padding">
		<div layout="column" layout-padding flex-gt-sm="70" flex>
			<div md-whiteframe="2" class="m-md-bottom" data-ng-disabled="true">
				<md-toolbar class="md-menu-toolbar" layout="row" layout-align="space-around center" layout-padding>
					<span>Database(s)</span>
					<span flex></span>
					<span class="md-caption">(optional - available soon)</span>
				</md-toolbar>
				<md-divider></md-divider>
				<md-content class="md-padding">
					<div class="check-container">
						<label>Select database(s)</label>
						<md-input-container layout="row">
							<md-checkbox data-ng-repeat="db in dbList" data-ng-disabled="true">
								{{ db.name }}
							</md-checkbox>
						</md-input-container>
					</div>
				</md-content>
				<md-button class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex ng-click="stepper(3);">
					Previous
				</md-button>
				<md-button class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex ng-click="stepper(5);">
					Next
				</md-button>
				<md-button type="submit" class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex>
					Finish
				</md-button>
			</div>
		</div>
	</md-content>

</md-tab>
<md-tab label="Caching">
	<md-content class="md-padding">
		<div layout="column" layout-padding flex-gt-sm="70" flex>
			<div md-whiteframe="2" class="m-md-bottom" data-ng-disabled>
				<md-toolbar class="md-menu-toolbar" layout="row" layout-align="space-around center" layout-padding>
					<span>Caching</span>
					<span flex></span>
					<span class="md-caption">(optional - available soon)</span>
				</md-toolbar>
				<md-divider></md-divider>
				<md-content class="md-padding" layout="row" layout-sm="column">
					<md-input-container class="md-block" flex>
						<label>Caching Server</label>
						<md-select id="cachingServer" name="cachingServer" data-ng-model="app.caching"
							class="m-md-bottom" disabled>
							<md-option value="ELASTICACHE">Elasticache</md-option>
							<md-option value="MEMCACHED">Memcached</md-option>
						</md-select>
					</md-input-container>
					<md-input-container class="md-block" flex>
						<label>Cache Size</label>
						<md-select id="cacheSize" name="cacheSize" data-ng-model="app.cacheSize"
							class="m-md-bottom" disabled>
							<md-option value="1GB">1GB</md-option>
							<md-option value="2GB">2GB</md-option>
							<md-option value="4GB">4GB</md-option>
						</md-select>
						<div ng-messages="appForm.cacheSize.$error">
							<div ng-message="required">Please select a cache size</div>
						</div>
					</md-input-container>
				</md-content>
				<md-button class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex ng-click="stepper(4);">
					Previous
				</md-button>
				<md-button class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex ng-click="stepper(6);">
					Next
				</md-button>
				<md-button type="submit" class="md-primary md-raised p-0" flex-xs="50" flex-sm="30" flex>
					Finish
				</md-button>
			</div>
		</div>
	</md-content>
</md-tab> -->
      <md-tab label="Code" data-ng-show="checkTabDisplayed('code')">
        <div data-ng-include="'views/app/new/app-code.html'"></div>
      </md-tab>
    </md-tabs>
  </form>
</div>
<div class="md-whiteframe-z2 add-app-summary-container p-0" data-ng-class="{ 'fixed' : $mdMedia('gt-sm')}">

  <md-content class="message-container m-xs-bottom" layout="row" layout-padding layout-align="left center"
    data-ng-controller="MessageCtrl" data-ng-show="message.content">
    <div data-ng-include="'views/_partials/messages.html'"></div>
  </md-content>
  <md-divider></md-divider>
  <div layout-padding layout="column" class="p-0-top-bottom">
    <md-list class="condensed">
      <md-list-item class="md-2-line" layout="column">
        <label class="md-text-light">{{ displayName }} Name</label>
        <span>{{ app.name || 'not specified' }}</span>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line" layout="column">
        <label class="md-text-light">{{ displayName }} Stack</label>
        <span data-ng-bind-html="app.appProviderSummary || 'not specified'"></span>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line" layout="column">
        <label class="md-text-light">AWS Account ID</label>
        <span layout="row" data-ng-bind="getAWSAccountID()">
          <span>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line" layout="column">
        <label class="md-text-light">Disk Size</label>
        <span layout="row">
          {{ app.configData.cloud.diskSize || 'not specified' }}
          <span data-ng-show="app.configData.cloud.diskSize"> GB</span>
          <span>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line" layout="column">
        <label class="md-text-light">Integrations</label>
        <span layout="row">
          Sumo logic

          <span>
      </md-list-item>

    </md-list>
  </div>

</div>