<div class="md-text-light m-sm-bottom md-body-1">
  <label data-ng-show="clipboardSupported">
    Copy the AWS CloudFormation Template URL below to your clipboard
  </label>
  <label data-ng-show="!clipboardSupported">
    Select the AWS CloudFormation Template URL below. Then press &#8984; + C to copy to your clipboard
  </label>
</div>
<div class="message-container p-sm inline-block">
    <span class="info" id="templateUrlTarget">https://console.aws.amazon.com/cloudformation/home?#/stacks/quickcreate?templateUrl=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Ftemplates.teemops.com%2Fiam.role.child.account.cfn.yaml&stackName=teemops-dontdelete&param_ParentAWSAccountId=561280630638</span>
</div>
<md-button class="md-icon-button md-raised" ngclipboard data-clipboard-target="#templateUrlTarget">
    <ng-md-icon icon="content_copy" data-ng-show="clipboardSupported" aria-label="Copy"></ng-md-icon>
    <ng-md-icon icon="select_all" aria-label="Select" data-ng-show="!clipboardSupported">
      <md-tooltip>
        &#8984; + C to copy
      </md-tooltip>
    </ng-md-icon>
</md-button>
