<md-content class="form-container overflow-hidden" flex="80">
    <md-input-container class="md-block">
      <label for="name">Credential Name</label>
      <input type="text" name="name" id="name" data-ng-model="credential.authData.name" required maxlength="255"
        md-no-asterisk/>
      <div ng-messages="credentialForm.name.$error">
        <div ng-message="required">Please fill in a credential name</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label for="arn">IAM Role ARN</label>
      <input type="text" name="arn" id="arn" data-ng-model="credential.authData.arn" required md-no-asterisk/>
      <div ng-messages="credentialForm.arn.$error" class="ng-messages-custom">
        <div ng-message="required">Please paste the IAM Role ARN from AWS</div>
      </div>
    </md-input-container>
    <!-- <div select-or-add-aws-account app="credential" form="credentialForm" cloud-providers="cloudProviders"
      tooltip-text="You need to link your TeemOps account with an AWS Account Id before you can create a Credential" flex>
    </div> -->
</md-content>
