<!-- Credential List -->
<md-content class="layout-padding p-0-top credential-list">
  <div class="p-sm">
    <div md-whiteframe="2" class="md-whiteframe-2dp p-0">
      <md-list class="app-list">
        <md-subheader class="md-primary">
          <md-list-item layout="row" class="m-0 p-sm-left-right" flex>
            <div flex="20" class="p-0-left">AWS Account ID</div>
            <div flex="20">Credential Name</div>
            <!--<div flex="10">Cloud Provider</div>-->
            <div flex="25">ARN</div>
            <div flex="20">Created Date</div>
            <div flex="15" class="p-0-right button-panel"></div>
          </md-list-item>
        </md-subheader>
        <md-progress-linear md-mode="indeterminate" data-ng-show="loading"></md-progress-linear>
        <div class="md-list-body">
          
          <md-list-item ng-repeat="credential in credentials" layout="row" flex ng-click="showViewDialog(credential);" >
            <div flex="20" class="ellipsis p-0-left">{{ credential.displayAWSAccountId }}</div>
            <div flex="20">{{ credential.authData.name }}</div>
            <!--<div flex="10">AWS</div>-->
            <div flex="25" class="word-wrap">{{ credential.authData.arn }}</div>
            <div flex="20">{{ credential.authData.createdDate | date:'dd MMM yyyy h:mm a' }}</div>
            <div flex="15" class="text-align-right p-0-right button-panel">
              <md-button class="md-icon-button md-primary md-raised" data-ng-click="showViewDialog(credential);" aria-label="View Credential">
                <ng-md-icon icon="visibility"></ng-md-icon>
              </md-button>
              <md-button class="md-icon-button md-accent md-raised" data-ng-click="showEditDialog(credential);" aria-label="Edit Credential">
                <ng-md-icon icon="mode_edit"></ng-md-icon>
              </md-button>
              <md-button data-ng-show="deleteButtonsEnabled" class="md-icon-button md-warn md-raised" data-ng-click="confirmDelete($event, credential.id);" aria-label="Delete Credential">
                <ng-md-icon icon="delete"></ng-md-icon>
              </md-button>
            </div>
          </md-list-item>
          <div data-ng-show="!credentials || credentials.length === 0">
            <div class="p-md-top-bottom p-sm-left-right">
              <label class="md-text-light">
                  <a ui-sref="credentials.new" class="md-accent text-underline">Link an AWS Account</a>
              </label>
            </div>
          </div>
        </div>
      </md-list>
    </div>
  </div>
</md-content>
