<md-steppers md-selected="selected" md-dynamic-height md-stretch-steppers="always">
  <md-step label="Copy Template URL" md-complete="step1.completed">
    <md-content class="md-padding" style="min-height: 174px;">
      <div data-ng-include="'/views/credentials/copy-templateurl-to-clipboard.html'"></div>
      <md-divider class="m-lg-top m-xs-bottom"></md-divider>
      <div class="text-align-center">
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(1); step1.completed = true;" aria-label="Next">
          <ng-md-icon icon="navigate_next"></ng-md-icon>
        </md-button>
      </div>
    </md-content>
  </md-step>
  <md-step label="AWS sign-in" md-complete="step2.completed">
    <md-content class="md-padding">
      <div>
        <ol class="task-list">
          <li>
            <label class="md-text-light md-body-1"> Sign into the AWS console</label>
            <a href="http://console.aws.amazon.com/" target="_blank">http://console.aws.amazon.com/</a>
          </li>
          <li>
            <label class="md-text-light md-body-1">Click on CloudFormation</label><br/>
            <img src="images/aws/aws-console.png">
          </li>
        </ol>
      </div>
      <md-divider class="m-lg-top m-xs-bottom"></md-divider>
      <div class="text-align-center">
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(0);" aria-label="Previous">
          <ng-md-icon icon="navigate_before"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(2); step2.completed = true;" aria-label="Next">
          <ng-md-icon icon="navigate_next"></ng-md-icon>
        </md-button>
      </div>
    </md-content>
  </md-step>
  <md-step label="Create Stack" md-complete="step3.completed">
    <md-content class="md-padding">
      <div>
        <ol class="task-list">
          <li>
            <label class="md-text-light md-body-1">Create stack</label><br/>
            <img src="images/aws/create-stack.png">
          </li>
          <li>
            <label class="md-text-light md-body-1">Paste URL from Step 1 into 'Specify an Amazon S3 template URL' and click 'Next'</label><br/>
            <img src="images/aws/paste-url.png">
          </li>
          <li>
            <label class="md-text-light md-body-1">Enter a suitable Stack name - we suggest the following:</label><br/>
            <img src="images/aws/stack-name.png">
          </li>
          <li>
            <label class="md-text-light md-body-1">On the Options page simply click 'Next'</label><br/>
            <img src="images/aws/options.png">
          </li>
          <li>
            <label class="md-text-light md-body-1">Acknowledge CloudFormation capabilities and click 'Create'</label><br/>
            <img src="images/aws/review.png">
          </li>
        </ol>
      </div>
      <md-divider class="m-lg-top m-xs-bottom"></md-divider>
      <div class="text-align-center">
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(1);" aria-label="Previous">
          <ng-md-icon icon="navigate_before"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(3); step3.completed = true;" aria-label="Next">
          <ng-md-icon icon="navigate_next"></ng-md-icon>
        </md-button>
      </div>
    </md-content>
  </md-step>
  <md-step label="Stack Resources" md-complete="step4.completed">
    <md-content class="md-padding">
      <div>
        <ol class="task-list">
          <li>
            <label class="md-text-light md-body-1">It will take a minute or so for the stack to be created. Click the 'Refresh' icon to check the status.</label><br/>
            <img src="images/aws/stack-list-progress.png">
          </li>
          <li>
            <label class="md-text-light md-body-1">Once the stack has been created, click the 'TeemOps' stack name for more details</label><br/>
            <img src="images/aws/stack-list-complete.png">
          </li>
          <li>
            <label class="md-text-light md-body-1">Expand the 'Resources' section and click on the 'Physical ID' link. This will open a new tab/window.</label><br/>
            <img src="images/aws/stack-resources.png">
          </li>
        </ol>
      </div>
      <md-divider class="m-lg-top m-xs-bottom"></md-divider>
      <div class="text-align-center">
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(2);" aria-label="Previous">
          <ng-md-icon icon="navigate_before"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(4); step4.completed = true;" aria-label="Next">
          <ng-md-icon icon="navigate_next"></ng-md-icon>
        </md-button>
      </div>
    </md-content>
  </md-step>
  <md-step label="Copy IAM Role" md-complete="step5.completed">
    <md-content class="md-padding">
      <div>
        <label class="md-text-light md-body-1">Select and Copy the IAM Role ARN</label><br/>
        <img src="images/aws/iam-role.png">
      </div>
      <md-divider class="m-lg-top m-xs-bottom"></md-divider>
      <div class="text-align-center">
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(3);" aria-label="Previous">
          <ng-md-icon icon="navigate_before"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(5); step5.completed = true;" aria-label="Next">
          <ng-md-icon icon="navigate_next"></ng-md-icon>
        </md-button>
      </div>
    </md-content>
  </md-step>
  <md-step label="Complete" md-complete="step6.completed">
    <md-content class="md-padding">
      <div flex-offset="5">
        <label class="md-text-light md-body-1">Enter a Credential Name e.g. My TeemOps Credentials.<br/>
          Then paste the ARN from the AWS IAM Console.</label>
      </div>
      <form name="credentialForm" ng-submit="save(credentialForm.$valid)" novalidate>

        <div data-ng-include="'views/credentials/details-form.html'" flex-offset="5"></div>

        <md-divider class="m-lg-top m-xs-bottom"></md-divider>
        <div class="text-align-center">
          <md-button class="md-raised md-primary md-icon-button" ng-click="stepTo(4);" aria-label="Previous">
            <ng-md-icon icon="navigate_before"></ng-md-icon>
          </md-button>
          <md-button class="md-button md-raised md-primary icon-and-text-button" type="submit" aria-label="Next">
            <ng-md-icon icon="save"></ng-md-icon>
            Save
          </md-button>
        </div>
      </form>
    </md-content>
  </md-step>
</md-steppers>
