<div class="text-align-right md-padding p-0-bottom md-body-1">
  <div layout-padding class="p-0-bottom" data-ng-show="simpleView">
    Need some extra instructions?
    <a ui-sref="credentials.new.stepper" data-ng-click="simpleView = false;" class="md-primary"><span>Switch to the step-by-step view</span></a>
  </div>
  <div layout-padding class="p-0-bottom" data-ng-show="!simpleView">
    Don't need step-by-step instructions?
    <a ui-sref="credentials.new.simple" data-ng-click="simpleView = true;" class="md-primary"><span>Switch to the simple view</span></a>
  </div>
</div>

<md-content class="layout-padding">
  <div class="p-sm">
    <div md-whiteframe="2" class="md-whiteframe-2dp" data-ng-cloak>
      <div ui-view=""></div>
    </div>
  </div>
</md-content>
