<div role="dialog" aria-label="My Credentials" layout="column"
  layout-align="top center" class="credentials-dialog">
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>My Credentials</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
  </md-toolbar>

  <md-content class="md-padding form-container" style="min-width: 500px;">
    <md-list>
      <md-list-item>
        <label flex="30" class="md-text-light">Credential ID</label>
        <span flex="70">{{ credential.id }}</span>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item>
        <label flex="30" class="md-text-light">AWS Account ID</label>
        <span flex="70">{{ credential.displayAWSAccountId }}</span>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item>
        <label flex="30" class="md-text-light">Credential Name</label>
        <span flex="70">{{ credential.authData.name }}</span>
        <md-divider></md-divider>
      </md-list-item>
      <!--<md-list-item>
        <label flex="30" class="md-text-light">Cloud Provider</label>
        <span flex="70">{{ credential.cloudProvider }}</span>
        <md-divider></md-divider>
      </md-list-item>-->
      <md-list-item>
        <label flex="30" class="md-text-light">ARN</label>
        <span class="word-wrap" flex="70">{{ credential.authData.arn }}</span>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item>
        <label flex="30" class="md-text-light">Created Date</label>
        <span flex="70">{{ credential.authData.createdDate | date:'dd MMM yyyy h:mm a' }}</span>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item>
        <label flex="30" class="md-text-light">Created By</label>
        <span flex="70">{{ credential.authData.createdByUsername }}</span>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item>
        <label flex="30" class="md-text-light">Updated Date</label>
        <span flex="70">{{ (credential.authData.updatedDate | date:'dd MMM yyyy h:mm a') || '-'}}</span>
        <md-divider></md-divider>
      </md-list-item>
      <md-list-item>
        <label flex="30" class="md-text-light">Updated By</label>
        <span flex="70">{{ credential.authData.updatedByUsername || '-'}}</span>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
    <div class="text-align-right">
      <md-button class="md-warn icon-and-text-button" ng-click="cancel()" layout-align="center right">
        <ng-md-icon icon="cancel" size="16"></ng-md-icon>
        <span>Close</span>
      </md-button>
    </div>
  </md-content>
</div>
