<md-list class="app-list" data-ng-show="credentialList.length > 0">
  <md-subheader class="md-primary">
    <md-list-item layout="row" class="m-0 p-lg-left" flex>
      <span flex="20">AWS Account Id</span>
      <span flex="20">Credential Name</span>
      <span flex="60">ARN</span>
    </md-list-item>
  </md-subheader>
  <div class="md-list-body" layout="row">
    <md-input-container class="md-block m-xs-top-bottom" flex>
        <md-radio-group ng-model="app.userDataProviderId" layout-align="start center" class="credential-radio-group">
          <md-radio-button ng-repeat="credential in credentialList" data-ng-value="credential.id"
            class="md-primary m-0" flex>
            <md-list-item layout="row" flex
              layout-align="start center" class="p-lg-left">
              <span flex="20" class="word-wrap">{{ credential.displayAWSAccountId }}</span>
              <span flex="20" class="word-wrap">{{ credential.authData.name }}</span>
              <span flex="60" class="word-wrap">{{ credential.authData.arn }}</span>
            </md-list-item>
          </md-radio-button>
        </md-radio-group>
    </md-input-container>
  </div>
</md-list>
<div data-ng-show="credentialList.length === 0" class="m-sm-bottom" layout="column">
  <div layout="row" layout-align="start center" class="m-sm-bottom">
    <ng-md-icon icon="info" size="20" class="md-accent m-xs-right"></ng-md-icon>
    <span class="md-body-1" flex>Only Credentials that are linked to your Server's AWS Account Id will appear here</span>
  </div>
  <label class="md-text-light m-xs-right">
      <a ui-sref="credentials.new({ appId: app.appId, userCloudProviderId: app.userCloudProviderId })" class="md-accent text-underline">Create a credential</a>
  </label>
</div>
