
<md-content class="md-padding form-container">
  <div class="radio-container">
    <md-input-container class="layout-fill" flex-gt-xs="80" flex
      data-ng-class="{ 'md-input-invalid' : appForm.appProvider.$error.required && formSubmitted }">
      <label>Please choose your {{ displayName }} stack</label>
      <div data-ng-show="appForm.appProvider.$error.required && formSubmitted"
          class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
        <div class="md-input-message-animation">Please select a {{ displayName }} stack</div>
      </div>
      <md-radio-group data-ng-model="app.appProviderId" layout="column" name="appProvider" ng-required="true" class="radio-button-list">
        <h3>Simple</h3>
        <md-radio-button data-ng-repeat="ap in appProviderList | filter: { type : 'blank'}" data-ng-value="{{ap.id}}">
          <div class="text-container" layout-align="center start" layout="column">
            <span class="md-title">{{ ap.name }}</span>
            <span class="md-body-1">{{ ap.os }}</span>
            <span class="md-body-2">{{ ap.description }}</span>
          </div>
          <div class="img-container" data-ng-show="ap.logo">
            <img data-ng-src="/images/{{ap.logo}}" alt="{{ap.name}}"/>
          </div>
        </md-radio-button>
        
        <h3>Preconfigured Stacks</p>
        <md-radio-button data-ng-repeat="ap in appProviderList | filter: { type : 'predefined'}" data-ng-value="{{ap.id}}">
          <div class="text-container" layout-align="center start" layout="column">
            <span class="md-title">{{ ap.name }}</span>
            <span class="md-body-1">{{ ap.os }}</span>
            <span class="md-body-2">{{ ap.description }}</span>
          </div>
          <div class="img-container" data-ng-show="ap.logo">
            <img data-ng-src="/images/{{ap.logo}}" alt="{{ap.name}}"/>
          </div>
        </md-radio-button>
        <h3>Build your Own</p>
          <md-radio-button data-ng-repeat="ap in appProviderList | filter: { type : 'custom'}" data-ng-value="{{ap.id}}">
            <div class="text-container" layout-align="center start" layout="column">
              <span class="md-title">{{ ap.name }}</span>
              <span class="md-body-1">{{ ap.os }}</span>
              <span class="md-body-2">{{ ap.description }}</span>
            </div>
            <div class="img-container" data-ng-show="ap.logo">
              <img data-ng-src="/images/{{ap.logo}}" alt="{{ap.name}}"/>
            </div>
          </md-radio-button>
      </md-radio-group>
    </md-input-container>
  </div>						
</md-content>

