<md-content class="layout-padding">
    <div class="md-padding">
        <div class="layout-padding">
            <div md-whiteframe="2" class="md-whiteframe-2dp">

                <div class="m-md-bottom">
                    <div class="thick-border" layout="row" layout-align="start center">
                        <h2>Connect your existing apps to Teem Ops</h2>
                    </div>
                    <md-input-container class="md-block m-sm-right m-md-top" flex-gt-xs="80">
                            <label for="name">Search for an app</label>
                            <input type="text" name="name" id="name" data-ng-model="config.name" required maxlength="255"
                              md-no-asterisk/>
                            <div class="hint">Start typing to search</div>
                            <div ng-messages="awsConfigForm.name.$error" class="m-sm-top">
                              <div ng-message="required">Please fill in an AWS Launch Config name</div>
                            </div>
                          </md-input-container>

                </div>
            </div>
        </div>
    </div>
    <div class="md-padding" layout="row">
        <div flex="25" layout="column">

            <md-card data-ng-class="m-sm-right">
                <div layout="column" layout-align="start stretch">
                    <md-card-title flex="none">
                        <md-card-title-text>
                            <span class="md-title"><a href="https://www.sumologic.com" target="_blank">Sumo
                                    Logic®</a></span>
                            <span class="md-subhead">
                                <a data-ng-href="https://help.sumologic.com/Manage/Security/Access-Keys" target="_blank"
                                    class="md-primary">
                                    <ng-md-icon icon="help" size="14"></ng-md-icon>How to add Access Key
                                </a>
                            </span>
                        </md-card-title-text>
                    </md-card-title>

                    <md-card-content flex="no-shrink">
                        <div layout="row">
                            <img
                                src="https://assets.sumologic.com/company-logos/SumoLogic_SquareSymbol_Black_RGB@1x.png" />
                        </div>
                        <!-- <div layout="row" class="p-sm-bottom">
                            
                            
                            <span data-ng-class="app.statusInfo.textCssClass" flex="30" layout="row">
                                www.sumologic.com
                            </span>
                        </div> -->



                    </md-card-content>
                    <md-card-actions flex="none">
                        <div layout="row" class="p-sm-bottom">
                            <md-button class="md-accent m-0 md-outline" flex
                                data-ng-class="{ 'md-icon-button' : ($mdMedia('xs') || $mdMedia('sm')) && shrinkToFit }"
                                layout="row" data-ng-click="goToAddOrEditCredential(app, $event)">
                                <ng-md-icon icon="security" size="16"></ng-md-icon>
                                <span data-ng-show="$mdMedia('gt-sm') || !shrinkToFit" class="md-caption"
                                    flex>Connect</span>
                                <md-tooltip>

                                </md-tooltip>
                            </md-button>

                        </div>
                        <div layout="row" class="p-sm-bottom">
                            <md-button class="md-accent m-0 md-outline" flex
                                data-ng-class="{ 'md-icon-button' : ($mdMedia('xs') || $mdMedia('sm')) && shrinkToFit }"
                                layout="row" data-ng-click="goToAddOrEditCredential(app, $event)">
                                <ng-md-icon icon="web" size="16"></ng-md-icon>
                                <span data-ng-show="$mdMedia('gt-sm') || !shrinkToFit" class="md-caption"
                                    flex>Visit website</span>
                                <md-tooltip>

                                </md-tooltip>
                            </md-button>

                        </div>
                    </md-card-actions>
                </div>
            </md-card>
        </div>
    </div>
    <div class="md-padding">
        <div class="layout-padding">
            <h2>Connected apps</h2>
            <div md-whiteframe="2" class="md-whiteframe-2dp p-0">
                <md-list class="app-list">
                    <md-subheader class="md-primary">
                        <md-list-item layout="row" class="m-0 p-sm-left-right" flex>
                            <div flex="15" class="p-0-left">App</div>
                            <div flex="15">Status</div>
                            <div flex="20">Last login</div>
                            <div flex="35" layout="row">
                                <span flex="50" class="m-xs-right">Role</span>
                            </div>
                            <div flex="20" class="p-0-right"></div>
                        </md-list-item>
                    </md-subheader>
                    <md-progress-linear md-mode="indeterminate" data-ng-show="loading"></md-progress-linear>
                    <div class="md-list-body" data-ng-show="editModeEnabled">
                        <md-list-item ng-repeat="app in apps" layout="row" ng-click="showDetail(app.appId)"
                            ng-disabled="app.processing" flex>
                            <div flex="15" class="p-0-left">
                                <span>{{ app.name }}</span>
                            </div>
                            <div flex="15" layout="row" class="no-wrap">
                                <span data-ng-class="app.statusInfo.textCssClass" class="p-xxs-top-bottom p-xs-right"
                                    flex>{{
                                    app.statusInfo.desc }}</span>
                            </div>
                            <!-- TEEM001-22 Hide Cloud Provider
                                <div flex="15" layout-padding>{{ app.cloudProviderDesc || 'None selected' }}</div>
                                -->
                            <div flex="20" data-ng-bind-html="app.appProviderSummary || 'None selected'" layout-padding>
                            </div>
                            <div flex="35" layout="row">
                                <div layout="row" class="m-xs-right" flex="50">
                                    <div app-link-credential-panel app="app" refresh-app="getApps()"
                                        credentials="credentials" shrink-to-fit="true"
                                        data-ng-show="!app.userDataProviderId" layout="row" flex="90">
                                    </div>
                                    <span data-ng-show="app.userDataProviderId" class="secondary-link"
                                        style="z-index: 1;" flex>
                                        <a ui-sref="credentials" class="md-accent text-underline">{{ app.credentialAuthData.name
                                            }}
                                        </a>
                                    </span>
                                </div>
                                <div layout="row" flex="50">
                                    <div app-link-config-panel app="app" refresh-app="getApps()"
                                        aws-configs="awsConfigs" shrink-to-fit="true" data-ng-show="!app.awsConfigId"
                                        layout="row" flex="90">
                                    </div>
                                    <span data-ng-show="app.awsConfigId" class="secondary-link" style="z-index: 1;">
                                        <a ui-sref="awsconfigs"
                                            class="md-accent text-underline">{{ app.awsConfigName }}</a>
                                    </span>
                                </div>
                            </div>
                            <div flex="20" class="text-align-right p-0-right" layout="row" layout-align="end center">
                                <div app-start-stop-panel app="app" raised-button="true"></div>
                                <div app-delete-panel app="app" refresh-app="getApps()" icon-only="true"></div>
                            </div>

                            <!--<div class="text-align-right md-secondary" layout="row" layout-align="end center"
                                    data-ng-show="!app.userDataProviderId">
                                        <ng-md-icon icon="warning" class="md-warn m-xs-right"></ng-md-icon>
                                        <span>
                                            Link this server to <br/>an <a href="" data-ng-click="goToAddOrEditCredential(app, $event)" class="md-warn">AWS credential</a><br/>to get started
                                        </span>
                                </div>-->
                        </md-list-item>
                        <div data-ng-show="!apps || apps.length === 0">
                            <div class="p-md-top-bottom p-sm-left-right">
                                <label class="md-text-light">
                                    <a ui-sref="apps.new" class="md-accent text-underline">Invite a user</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </md-list>
            </div>
        </div>
    </div>
</md-content>