<md-content data-ng-controller="AccountCtrl" class="p-sm">
  <md-tabs md-dynamic-height md-border-bottom class="app-detail-tabs">
    <md-tab label="Account">
      <div data-ng-include="'views/account/details-panel.html'" flex-gt-sm="80" flex></div>
      <div data-ng-include="'views/account/aws-panel.html'" flex-gt-sm="80" flex></div>
    </md-tab>

    <md-tab label="Organisation" ng-show="enableOrgs">
      <form name="appForm" id="appForm" novalidate>
        <div data-ng-include="'views/account/org-tab.html'" flex-gt-sm="80" flex></div>
      </form>
    </md-tab>
  </md-tabs>
</md-content>